<!-- author ben lawson balawson@bu.edu -->
<head>
    <title>Create an account!</title>
</head>
{%if not supress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('register_user') }}">
                <label for="email">Enter your email:</label>
                <input type="email" name="email" /><br />
                <label for="password">Enter password:</label>
                <input type="password" name="password" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<a href='/'>Home</a>
